In [2]:
##int is a data types specifically for numbers 
a=5
a

5

In [3]:
###float is for floating point number or a decimal point for a provided number or string 
b=4.6666666
b

4.6666666

In [4]:
##String is a sentence or word, everything under double qoutes is a string
str="My name is Amanpreet"
str

'My name is Amanpreet'

In [5]:
##Lists are used to store multiple items in a single variable.
list1=[4,2,2.0,89,45,"aman",2.00000000]
list1

[4, 2, 2.0, 89, 45, 'aman', 2.0]

In [6]:
##Set is one of 4 built-in data types in Python used to store collections of data
set1={4,2,3.9,"ak"}
set1

{2, 3.9, 4, 'ak'}

In [7]:
###Dictionaries are used to store data values in key:value pairs.
dict1={1:"aman",2:3.099999999,3:5}
dict1

{1: 'aman', 2: 3.099999999, 3: 5}